body {
    color:#d6d0d0;
    font-size:16pt;
    background-color:#343249;
}
h1 {
    color:red;
    opacity:0.2;
    font-size:60pt;
    margin-top:-20px;
    margin-bottom:0px;
    text-align:right;
}
p {
    margin:10px;
}
a {
    color:blue;
    text-decoration: none;
}